html,
body.video_popup_view {
   overflow: hidden;
}

body.video_popup_view h1 {
    background-color:#E8E8E8;
    color: black;
    font-size: 1em;
    margin: 0;
    padding: 7px 0 5px 10px;
    border: medium none;
}

body.video_popup_view .media-player {
    overflow: hidden;
}

body.video_popup_view * {
    overflow: hidden;
}

.ui-tabs .ui-tabs-panel {
    height: 100px;
    overflow: auto;
}

body.video_popup_view .image-thumb {
    width: auto;
}

body.video_popup_view .tileImage {
    margin: 0;
    padding: 0;
    float: none;
}

body.video_popup_view .media-player {
    text-align: left;
}

body.video_popup_view .media-player .flowplayer .embeddedvideo {
    /*width: 640px;*/
    width: 100%;
    height: 360px; /* 640x360 == 16:9 */
}

body.video_popup_view .slider {
    width: 640px;
    overflow: hidden;
}

body.video_popup_view .slider .slidernav {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    top: 430px;
}

body.video_popup_view .slider .larrow {
    left: 0px;
}

body.video_popup_view .slider .rarrow {
    right: 0px;
    _margin-right: -3px;
}

body.video_popup_view .slider .portlet {
    width: 3000px;
    position: absolute;
    top: 430px;
    left: 20px;
    border: 0;
}

body.video_popup_view .slider .portlet .portletItem dd {
    background: white;
    display: inline;
    width: 120px;
    float: left;
    font-size: 1.13em;
}

body.video_popup_view .slider .portlet .portletItem dd a, img, canvas { /* img reflections */
    margin: auto;
}

body.video_popup_view #docs-slider .portlet .portletItem dd a {
    font-size: 1em;
    font-weight: bold;
    width: 85px;
    line-height: 1.1em;
    padding:0;
    overflow: hidden;
}

body.video_popup_view #tabs {
    font-size: 0.9em;
    border: 0;
}

body.video_popup_view #tabs #tab-desc dt, dd {
    display: inline;
}

body.video_popup_view .portlet .portletHeader {
    display: none;
}

body.video_popup_view .portlet .portletItem {
    padding: 0;
    margin: 0;
    border: 0;
}

body.video_popup_view .portlet .portletItem .magnify {
    display: none;
}

body.video_popup_view .portlet .portletItem dd .mediacaption {
    display: none;
}

body.video_popup_view .footer {
    font-size: 0.8em;
    padding-left: 1em;
}

body.video_popup_view #vid-metadata {
    display: none;
}

body.video_popup_view #vid-title {
    display: none;
}

body.video_popup_view #ajax-loader {
    position: absolute;
    left: 287px;
    top: 232px;
}

/* Tabs */
#tabs {
    padding: 0.2em;
}
.tabs {
    border: 1px solid #AAAAAA;
    display: block;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    margin: 0px;
    padding: 0.2em 0.2em 0;
}
.tabnav {
    font-size: 1em;
    line-height: 1.3;
    padding: 0.5em 1em;
    text-decoration:none;
    color: #212121 !important;
}

.tabs li {
    border: 1px solid #AAAAAA;
    outline: medium none;
    border-bottom-width: 0 !important;
    margin: 0 0.2em -1px 0;
    padding: 0;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    position: relative;
    float:left;
    line-height:24px;
    background:#DDDDDD;
}

.current {
    background:#FFFFFF;
}
.tabs ul.formTabs {
  background-color: #ddd;
  border: 0.3em solid #ddd;
}

.tabs ul.formTabs {
  display: block;
  border-style: solid solid none solid;
  margin-left: 0;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-topright: 0.5em;
}

.tabs li.formTab {
    display: inline;
    margin-right:0.25em;
}

.tabs li.formTab a {
    /* this isn't supported by all browsers, so we keep it in a separate rule */
    display: inline-block;
}

.tabs li.formTab a {
    line-height: 2em;
    padding: 0 0.75em;
    text-decoration: none;
    border: none;
    margin: 0 ;
}

.tabs li.formTab a.current {
    font-weight: bold;
}

.tabs li.formTab a.current,
.tabs li.formTab a:hover {
    background: White;
    color: Black;
}

.tabs .panes {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #DDDDDD;
  padding: 0.5em;
}

.discreet {
    color: #76797C;
    font-size: 85%;
    font-weight: normal;
}

.panes p{
    color: #222222;
    font-size: 0.9em;
    overflow: hidden;
}

.panes dt, dd{
    display: inline;
    overflow: hidden;
    color: #222222;
}

.panes dd{
    margin-left: 3em;
    line-height: 1.5em;
    margin-bottom: 1em;
}

