html,
body.video_popup_view {
   overflow: hidden;
}

body.video_popup_view h1 {
    background-color:#E8E8E8;
    color: black;
    font-size: 1em;
    margin: 0;
    padding: 7px 0 5px 10px;
    border: medium none;
}

body.video_popup_view .media-player {
    overflow: hidden;
}

body.video_popup_view * {
    overflow: hidden;
}

.ui-tabs .ui-tabs-panel {
    height: 100px;
    overflow: auto;
}

body.video_popup_view .image-thumb {
    width: auto;
}

body.video_popup_view .tileImage {
    margin: 0;
    padding: 0;
    float: none;
}

body.video_popup_view .media-player {
    text-align: left;
}

body.video_popup_view .media-player .flowplayer .embeddedvideo {
    /*width: 640px;*/
    width: 100%;
    height: 360px; /* 640x360 == 16:9 */
}

body.video_popup_view .slider {
    width: 640px;
    overflow: hidden;
}

body.video_popup_view .slider .slidernav {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    top: 430px;
}

body.video_popup_view .slider .larrow {
    left: 0px;
}

body.video_popup_view .slider .rarrow {
    right: 0px;
    _margin-right: -3px;
}

body.video_popup_view .slider .portlet {
    width: 3000px;
    position: absolute;
    top: 430px;
    left: 20px;
    border: 0;
}

body.video_popup_view .slider .portlet .portletItem dd {
    background: white;
    display: inline;
    width: 120px;
    float: left;
}

body.video_popup_view .slider .portlet .portletItem dd a, img, canvas { /* img reflections */
    margin: auto;
}

body.video_popup_view #docs-slider .portlet .portletItem dd a {
    font-size: 1em;
    font-weight: bold;
    width: 85px;
    line-height: 1.1em;
    padding:0;
    overflow: hidden;
}

body.video_popup_view #tabs {
    font-size: 0.9em;
    border: 0;
}

body.video_popup_view #tabs #tab-desc dt, dd {
    display: inline;
}

body.video_popup_view .portlet .portletHeader {
    display: none;
}

body.video_popup_view .portlet .portletItem {
    padding: 0;
    margin: 0;
    border: 0;
}

body.video_popup_view .portlet .portletItem .magnify {
    display: none;
}

body.video_popup_view .portlet .portletItem dd .mediacaption {
    display: none;
}

body.video_popup_view .footer {
    font-size: 0.8em;
    padding-left: 1em;
}

body.video_popup_view #vid-metadata {
    display: none;
}

body.video_popup_view #vid-title {
    display: none;
}

body.video_popup_view #ajax-loader {
    position: absolute;
    left: 287px;
    top: 232px;
}
