#belowContent, #viewlet-above-content {
    display:none;
}

#content {
    margin:0 !important;
    padding: 0 !important;
}

#title{
    margin-top:100px;
    font-size:5em;
    text-align:center;
}

h1#player-title {
    background-color:#E8E8E8;
    color: black;
    font-size: 1em;
    margin: 0;
    padding: 7px 0 5px 10px;
    border: medium none;
}    

.multimedia-widget {
    width:350px;
    height:100%;
    margin-bottom:20px;
    display:block;
    float:left;
}

.empty-widget {
    background-color:#555555;
    opacity:0.4;	
}

#top-widgets {
    margin-top:10px;
    top:-420px;
    height:335px;
    position:relative;	
    width:100%;
}

#bottom-widgets {
    top:1140px;
    height:335px;
    position: relative;	
    width:100%;
}

.left-widget {
    width:650px;
    margin:0 24px 0 0;
}

#multimedia-widgets{
    height:250px;
    position:relative;
    overflow:hidden;
}

#multimedia-coverflow {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    position:relative;
    box-shadow: 0 2px 2px #000;
    -webkit-box-shadow: 0 2px 2px #000;
    -moz-box-shadow: 0 2px 2px #000;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

#media-player {
    width:675px;
    height:400px;
    background-color:#FFFFFF;
    position:relative; 
}

#media-flowplayer {
    width:100%;
    height:373px;
}

#multimedia-vids {
    overflow: auto;
    box-shadow: 0 2px 2px #000;
    -webkit-box-shadow: 0 2px 2px #000;
    -moz-box-shadow: 0 2px 2px #000;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

#fancybox-close {
    display: inline;
    border: 0px;
}

#sliders{
    overflow:hidden;
}
      
ul, ul li {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
}

#scrollbar {
    position: absolute;
    left: 20px;
    right: 20px;
}
    
.fullBg {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index:-1;
}

.featured {
   background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
   box-shadow: 0 2px 2px #000000;
   -webkit-box-shadow: 0 2px 2px #000000;
   -moz-box-shadow: 0 2px 2px #000000;
}

.featured h2 {
   color: #fff;
   text-shadow: 0 2px 2px #000;
}

.multimedia-widget #faceted-text-search input[type="text"] {
   width: 210px;
}

#faceted-form .faceted-widget {
    color: #fff;
    background: transparent;
}

.multimedia-widget #tag-cloud {
   background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
   box-shadow: 0 2px 2px #000000;
   -webkit-box-shadow: 0 2px 2px #000000;
   -moz-box-shadow: 0 2px 2px #000000;
       -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
   padding:1em 2em;
   }

.multimedia-widget #faceted-form .widget-fieldset legend {
   background-color: transparent;
   box-shadow: none;
   text-shadow: 0 2px 2px #000;
   padding: 5px 0px;
}

ul#tabs {
   background: transparent;
   background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
}

ul#tabs li a {
   //background: #000;
   //background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
} 

ul#tabs li a.current, ul#tabs li a:hover {
   background: #888;
   background: none repeat scroll 0 0 rgba(0, 0, 0, 0.15);
   color: white;
   text-shadow: 1px 1px 1px #000000;
} 



#whatsnew-gallery .highlights {
    color: #fff;
    background: #888;
    background-color: rgba(0, 0, 0, 0.3);
}

#footer-wrapper {
    margin: 0px;
}

#portal-colophon {
    background: #FFF;
    margin: 0px;
}

/* elements from other pages */
#tag-cloud {
    height: 210px;
    margin-top: -17px;
}

#faceted-form li.selected {
    background-color: #F6A800;
    color: white !important;
}
