#belowContent, #viewlet-above-content {
    display:none;
}

#content {
    margin:0 !important;
}

#title{
    margin-top:100px;
    font-size:5em;
    text-align:center;
}

h1#player-title {
    background-color:#E8E8E8;
    color: black;
    font-size: 1em;
    margin: 0;
    padding: 7px 0 5px 10px;
    border: medium none;
}    

.multimedia-widget {
    width:308px;
    height:100%;
    border:3px solid black;
    margin-bottom:20px;
    display:block;
    float:left;
}

.empty-widget {
    background-color:#555555;
    opacity:0.4;	
}

#top-widgets {
    margin-top:10px;
    top:-420px;
    height:335px;
    position:relative;	
    width:100%;
}

#bottom-widgets {
    top:1140px;
    height:335px;
    position: relative;	
    width:100%;
}

.left-widget {
    width:675px;
    margin-right:20px;
}

#multimedia-widgets{
    height:250px;
    position:relative;
    overflow:hidden;
}

#multimedia-coverflow {
    background-color:#000000;
    position:relative;
}

#media-player {
    width:675px;
    height:400px;
    background-color:#FFFFFF;
    position:relative; 
}

#media-flowplayer {
    width:100%;
    height:373px;
}

#multimedia-vids {
    overflow: auto;
}

#fancybox-close {
    display: inline;
    border: 0px;
}

#sliders{
    overflow:hidden;
}
      
ul, ul li {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
}

#scrollbar {
    position: absolute;
    left: 20px;
    right: 20px;
}
    
.fullBg {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index:-1;
}

.highlights {
    background: #FFF;
    background-color: rgba(255, 255, 255, 0.7);
}

#footer-wrapper {
    margin: 0px;
}

#portal-colophon {
    background: #FFF;
    margin: 0px;
}
